:root {
    --brownBackDark: #191112;
    --brownBack: #2D1F21;
    --brownBackLight: #403335;

    --orangeMainDark: #C17C37;
    --orangeMain: #EB9742;
    --orangeMainLight: #F2BC86;

    --yellowMainDark: #C19836;
    --yellowMain: #EBB941;
    --yellowMainLight: #F2D286;

    --blueMainDark: #427D82;
    --blueMain: #50989E;
    --blueMainLight: #8FBDC1;

    --highlightGreenDark: #5EC152;
    --highlightGreen: #72EB64;
    --highlightGreenLight: #A5F29C;

    --highlightBlueDark: #5267C1;
    --highlightBlue: #647deb;
    --highlightBlueLight: #9CACF2;


}



body {
    font-family: 'Roboto', serif;

}


/*from stack tutorial*/
.shadow {
    -moz-box-shadow:    3px 3px 15px 6px #2d2d2d;
    -webkit-box-shadow: 3px 3px 15px 6px #2d2d2d;
    box-shadow:         3px 3px 15px 6px #2d2d2d;
}

/*from stack tutorial*/

body {
    margin: 0;
    padding: 10px;
    font-family: "Roboto", "Times New Roman";
    font-weight: 400;
    font-size: xx-large;

    background-color: var(--brownBackLight);
}

#Seller {
    margin: 0;
    padding: 10px;
    font-family: "Roboto", "Times New Roman";
    font-weight: 400;
    font-size: x-large;
    text-align: left;
    align-items: left;
    width: 800px;
    height: 150px;


}



.thin {
    font-weight: 100;
}

input.navigatorBtn {
    border: 2px solid var(--blueMain);
    border-radius: 3px;
    background-color: var(--blueMain);
    width: 160px;
    height: 80px;


    text-decoration-style: solid;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

div.main {
    border: 2px solid var(--brownBackDark);
    border-radius: 3px;
    display: inline-block;
    padding: 20px;
    padding-top: 25px;
    margin: 0 auto;
    background-color: var(--brownBack);
}

div.seller {
    border: 2px solid var(--highlightBlueDark);
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    padding-top: 5px;
    margin: 0 auto;
    background-color: var(--highlightBlueDark);
    color: white;

}

img {
    border-radius: 100%;
}

.colorPallet_base {

    width: 250px;
    height: 120px;
}

.colorPallet_small {
    width: 20px;
    height: 20px;
}

.colorPallet_pack {
    float: left;
    width: 35px;
    height: 85px;

}



.brownBackDark {
    background: var(--brownBackDark);
}
.brownBack {
    background: var(--brownBack);
}
.brownBackLight {
    background: var(--brownBackLight);
}


.orangeMainDark  {
    background: var(--orangeMainDark);
}

.orangeMain {
    background: var(--orangeMain);
}
.orangeMainLight{
    background: var(--orangeMainLight);
}



.yellowMainDark  {
    background: var(--yellowMainDark);
}
.yellowMain {
    background: var(--yellowMain);
}
.yellowMainLight {
    background: var(--yellowMainLight);
}


.blueMainDark {
    background: var(--blueMainDark);
}

.blueMain {
    background: var(--blueMain);
}
.blueMainLight {
    background: var(--blueMainLight);;
}





.highlightGreenDark  {
    background: var(--highlightGreenDark);
}

.highlightGreen  {
    background: var(--highlightGreen);
}

.highlightGreenLight  {
    background: var(--highlightGreenLight);
}




.highlightBlueDark {
    background: var(--highlightBlueDark);
}
.highlightBlue {
    background: var(--highlightBlue);
}
.highlightBlueLight {
    background: var(--highlightBlueLight);
}

