/* Coolors Exported Palette - coolors.co/80621a-234e52-804d1b-5e2730-231416 */

/* HSL */
$color1: hsla(42%, 66%, 30%, 1);
$color2: hsla(185%, 40%, 23%, 1);
$color3: hsla(30%, 65%, 30%, 1);
$color4: hsla(350%, 41%, 26%, 1);
$color5: hsla(352%, 27%, 11%, 1);

/* RGB */
$color1: rgba(128, 98, 26, 1);
$color2: rgba(35, 78, 82, 1);
$color3: rgba(128, 77, 27, 1);
$color4: rgba(94, 39, 48, 1);
$color5: rgba(35, 20, 22, 1);