/* Coolors Exported Palette - coolors.co/ebb941-50989e-eb9742-b35667-50373b */

/* HSL */
$color1: hsla(42%, 81%, 59%, 1);
$color2: hsla(185%, 33%, 47%, 1);
$color3: hsla(30%, 81%, 59%, 1);
$color4: hsla(349%, 38%, 52%, 1);
$color5: hsla(350%, 19%, 26%, 1);

/* RGB */
$color1: rgba(235, 185, 65, 1);
$color2: rgba(80, 152, 158, 1);
$color3: rgba(235, 151, 66, 1);
$color4: rgba(179, 86, 103, 1);
$color5: rgba(80, 55, 59, 1);