/* Coolors Exported Palette - coolors.co/f3d58d-96c1c5-f3c08e-d19aa3-968789 */

/* HSL */
$color1: hsla(42%, 81%, 75%, 1);
$color2: hsla(185%, 29%, 68%, 1);
$color3: hsla(30%, 81%, 75%, 1);
$color4: hsla(350%, 37%, 71%, 1);
$color5: hsla(352%, 7%, 56%, 1);

/* RGB */
$color1: rgba(243, 213, 141, 1);
$color2: rgba(150, 193, 197, 1);
$color3: rgba(243, 192, 142, 1);
$color4: rgba(209, 154, 163, 1);
$color5: rgba(150, 135, 137, 1);